p {
  font-family: Lato;
}

#outer-shell {
  margin-left:8%;
  margin-right:8%;
  border-bottom: 1px black;
}
#header {
  display:flex;
  border-radius:4px 4px 0px 0px;
  box-shadow: 0px 0px 1px 0px rgba(33, 43, 54, 0.16),
  0px 1px 1px 0px rgba(33, 43, 54, 0.16);
  height:32px;
}
#logo > img {
  height:25px;
  align-self:center;
}

#exit-section {
 margin-left:auto;
   align-self:center;
   margin-right: 15px;
}

.example-form :hover {
  cursor: pointer;
}

.full-width {
  width:100%;
}