
p {
  font-family: Lato;
}

#outer-shell {
  margin-left:8%;
  margin-right:8%;
  border-bottom: 1px black;
}
#header {
  display:flex;
  height: 64px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px 0px rgba(33, 43, 54, 0.16),
  0px 1px 1px 0px rgba(33, 43, 54, 0.16);
  border-radius: 4px 4px 0px 0px;
}
#logo > img {
  height:25px;
  align-self:center;
}

#exit-section {
 margin-left:auto;
   align-self:center;
   margin-right: 15px;
}

.full-width {
  width:100%;
}

@media screen and (min-width: 800px) {
    #outer-shell {
      margin-left:24%;
      margin-right:24%;
      border-bottom: 1px black;
    }
}

